.h1{
  color: black;
}

.choiceButton{
  width:100%;
  height:50px;
  margin-top:10px;
  background-color:#222222;
  color:white;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}

.currentItems{
  display: inline-block;
}


/* Input */
#actionButton{
  background-color: #333333;
  border-top: 1px solid #222222;
  border-right: 1px solid #222222;
  border-bottom: 1px solid #222222;
  border-left: 1px solid #222222;
}
#actionBar{
  margin-top: 10px;
  /* padding-left: 10rem;
  padding-right: 10rem; */
}
#actionInput{
  border-top: 1px solid #222222;
  border-right: 1px solid #222222;
  border-bottom: 1px solid #222222;
  border-left: 1px solid #222222;
}


/* Columns */
.characterCol{
  order: 1;
}
.storyCol{
  order: 2;
}
.inventoryCol{
  order: 3;
}

.allImages{
  margin-left: auto;
  margin-right: auto;
  width: 8em
}

.jumbotron{
  padding-right: 0px;
  padding-left: 0px;
}


/* @media (max-width: 967px) {
  .characterCol{
    order: 3;
  }
  .storyCol{
    order: 1;
  }
  .inventoryCol{
    order: 2;
  }

} */


@media (max-width: 1028px) {
  .mainStory{
    margin-top: -15px;
  }
  .jumbotron{
    height: 100%;
  }
  .jumbotron2{
    height: 105%;
  }

  /* Columns */
  .characterCol{
    order: 3;
    column-width: 100%;
  }
  .storyCol{
    margin-top: 30px;
    order: 1;
  }
  .inventoryCol{
    order: 2;
  }
  .jumbotron{
    padding-right: 60px;
    padding-left: 60px;
  }
}


/* @media (max-width: 767px) {
  .desktop {
    visibility: hidden;
    position:absolute;
    display: none;
  }
  .tablet {
    visibility: hidden;
    position:absolute;
    display: none;
  }
  .mobile {
    visibility: visible;
    display: block;
    position: relative;
  }
  .navbar-brand{
    display: block;
    position: relative;
  }
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
} */




/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
